.container{
    width:100px;
    height: 100vh;
    padding-top:50px;
}

.weather{
    
    width:500px;
    padding:30px;
    background: rgba(0, 211, 253, 0.5); 
    margin:50px auto;
    border-radius: 10px;
    margin-left: 500px;
}

.search{
    display:flex;
    
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.search input{
    border:none;
    outline: 0;
    padding:12px 25px;
    font-size: 18px;
    background-color: aliceblue;
    color: black;
    border-radius: 30px;
    flex:1;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 20px;
}
.search button{
    border:none;
    outline: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;;
    cursor: pointer;
    
}
